/* #region --------VARIABLES-> */
:root{
    --rojo100: #e60023;
    --rojoHover: #ad081b;
    --gris100: #f4f4f4;
    --gris200: #efefef;
    --gris300: #767676;
    --gris400: #111;
    --border: #7fc1ff;
}
/* #endregion --------VARIABLES-> */

/* #region --------GENERALES-> */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
    text-decoration: none;
}

/* #region --------UTILIDADES-> */
.btn{
    min-width: 73px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gris400);
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}
/* #endregion --------UTILIDADES-> */

/* #endregion --------GENERALES-> */

/* #region --------MENU PRINCIPAL-> */
nav{
    width: 100%;
    height: 80px;
    padding: 4px 16px;
    display: flex;
    align-items: center;
    position: fixed;
    background-color: #fff;
    z-index: 1;
}

nav .img-logo{
    min-width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

nav .img-logo img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

nav .img-logo img:hover{
    box-shadow:
    0 0 0 12px rgba(0, 0, 0, 0.07);
}

/* #region --------INPUT-> */
.input-container{
    min-width: 407px;
    height: 48px;
    padding: 0 8px;
    flex: 1 1 auto;
    position: relative;
}

nav input{
    width: 100%;
    height: 100%;
    padding: 0 0 0 38px;
    background-color: var(--gris200);
    border: 3px solid transparent;
    border-radius: 40px;
    outline: none;
    transition: all .5s;
}

nav input::placeholder{
    font-size: 16px;
}

nav input:focus{
    padding: 0 0 0 16px;
    border: 3px solid var(--border);
}

nav .input-container i{
    width: 48px;
    height: 100%;
    padding: 0 0 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--gris300);
}

nav input:focus ~ i{
    width: 0;
    opacity: 0;
}
/* #endregion --------INPUT-> */

/* #region --------ICONOS-> */
.iconos{
    width: 168px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--gris300);
    font-size: 24px;
}

nav .iconos i,
nav .iconos div{
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

nav .iconos i:hover,
nav .iconos div:hover{
    background-color: rgba(0, 0, 0, 0.07);
}

nav .iconos i:last-child{
    width: 24px;
    height: 24px;
    font-size: 18px;
}

nav .iconos img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
}
/* #endregion --------ICONOS-> */

/* #endregion --------MENU PRINCIPAL-> */

/* #region --------GALERIA-> */
.row{
    width: 1260px;
    margin: 0 auto;
    padding: 80px 0;
    display: flex;
}

.column{
    width: 23%;
    margin: 0 10px;
}

.item{
    margin: 0 0 16px 0;
}

.container-img{
    position: relative;
    cursor: zoom-in;
    transition: all .3s;
}

.container-img:hover::before{
    content: '';
    width: 100%;
    height: 99%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 16px;
    transition: all .3s;
}

.container-img img{
    width: 100%;
    border-radius: 16px;
}

/* #region --------HOVER-> */
.container-img div{
    width: 100%;
    padding: 15px;
    display: flex;
    position: absolute;
    opacity: 0;
    transition: all .2s;
}

.container-img:hover div{
    opacity: 1;
}

.container-img .top-row{
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: flex-start;
}

.container-img .top-row a:not(.btn){
    width: 40%;
    height: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: #fff;
    font-weight: 700;
}

.container-img .top-row i{
    padding-right: 5px;
    color: #fff;
    align-self: center;
    font-size: 14px;
    cursor: pointer;
}

.container-img .top-row .btn{
    min-width: 93px;
    height: 45px;
    background-color: var(--rojo100);
}

.container-img .top-row .btn:hover{
    background-color: var(--rojoHover);
}

.container-img .bottom-row{
    height: 64px;
    bottom: 0;
    left: 0;
    justify-content: space-between;
}

.container-img .bottom-row a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--gris100);
    color: #111;
    border-radius: 20px;
    font-size: 0.9em;
    font-weight: 700;
}

.container-img .bottom-row a:nth-child(1){
    width: 62%;
    height: 100%;
    overflow: hidden;
}

.container-img .bottom-row a:nth-child(1) i{
    padding: 0 8px;
    transform: rotate(45deg);
}

.container-img .bottom-row a:nth-child(2),
.container-img .bottom-row a:nth-child(3){
    width: 32px;
    justify-content: center;
}
/* #endregion --------HOVER-> */

/* #region --------REACTIONS-> */
.info-img{
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
}

.info-img .info{
    display: flex;
    align-items: center;
}

.info-img .info img{
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
}

.info-img .info a{
    padding: 0 5px;
    color: var(--gris400);
    font-size: 14px;
}

.info-img .info a:hover{
    text-decoration: underline;
}

.reactions{
    margin: 5px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.reactions img{
    width: 16px;
    height: 16px;
    margin-right: 1px;
}

.reactions span{
    margin-left: 5px;
    color: var(--gris400);
    font-size: 14px;
}
/* #endregion --------REACTIONS-> */

/* #endregion --------GALERIA-> */