/* --------VARIABLES-> */
:root{
    --rojo100: #e60023;
    --rojoHover: #ad081b;
    --gris100: #f4f4f4;
    --gris200: #efefef;
    --gris300: #767676;
    --gris400: #111;
    --border: #7fc1ff;
}

/* --------GENERALES-> */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
    text-decoration: none;
}